<div class="form-group" class="homePesquisa">
  <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
            aria-hidden="true"></i></span>
      </div>
      <input class="form-control my-0 py-1" type="text" placeholder="Pesquise um Veículo" aria-label="Search">
      <input type="submit" class="btn btn-ligth btnCadastrar" value="Pesquisar">
    </div>
</div>
<div class="img-fluid">
  <div class="imgCar" >
    <div class="imgText">
      <h1 class="title" style="font-size: 50px;" >Pesquisa de veículos do <span class="destaque">TradersClub</span></h1>
    </div>
  </div>
</div>


